The Nobel Prize has been among the most prestigious international awards since 1901. Each year, awards are bestowed in chemistry, literature, physics, physiology or medicine, economics, and peace. In addition to the honor, prestige, and substantial prize money, the recipient also gets a gold medal with an image of Alfred Nobel (1833 - 1896), who established the prize.

![](Nobel_Prize.png)

The Nobel Foundation has made a dataset available of all prize winners from the outset of the awards from 1901 to 2023. The dataset used in this project is from the Nobel Prize API and is available in the `nobel.csv` file in the `data` folder.

In this project, you'll get a chance to explore and answer several questions related to this prizewinning data. And we encourage you then to explore further questions that you're interested in!

In [1]:
# Loading in required libraries
import pandas as pd
import seaborn as sns
import numpy as np

# Start coding here!

df = pd.read_csv('data/nobel.csv')
df.head()

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France

In [2]:
top_gender = df['sex'].value_counts().sort_values(ascending=False).index[0]
top_country = df['birth_country'].value_counts().sort_values(ascending=False).index[0]

In [3]:
df['decade'] = (df['year'] // 10) * 10
def get_ratio_us_to_others(group):
    amout_us_winners = (
        group[group['birth_country'] == 'United States of America']['birth_country'].count()
    )
    amout_all_winners = group['birth_country'].count()
    return amout_us_winners / amout_all_winners

ratio_per_decade = df.groupby('decade').apply(get_ratio_us_to_others)

max_decade_usa = ratio_per_decade.sort_values(ascending=False).index[0]

/var/folders/9c/dh3yhrb55296prf50tbgxdk80000gn/T/ipykernel_57534/603579066.py:9: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ratio_per_decade = df.groupby('decade').apply(get_ratio_us_to_others)

In [4]:
def get_female_proportion(group):
    amount_of_women = group[group['sex'] == 'Female']['sex'].count()
    amount_of_all = group['sex'].count()
    return amount_of_women / amount_of_all
    
df_female_proportion = df.groupby(['decade', 'category']).apply(get_female_proportion).sort_values(ascending=False).reset_index()
max_female = df_female_proportion.loc[1, :]
max_female_dict = {
    max_female['decade']: max_female['category']
}
max_female_dict
df_female_proportion.head()

/var/folders/9c/dh3yhrb55296prf50tbgxdk80000gn/T/ipykernel_57534/3575339403.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_female_proportion = df.groupby(['decade', 'category']).apply(get_female_proportion).sort_values(ascending=False).reset_index()

   decade    category    0
0    2020       Peace  0.5
1    2020  Literature  0.5
2    2010       Peace  0.5
3    1990  Literature  0.3
4    2000  Literature  0.3

In [5]:
first_woman = df[df['sex'] == 'Female'].sort_values(by='year').iloc[0]
first_woman_name = first_woman['full_name']
first_woman_category = first_woman['category']

In [6]:
counts = df['full_name'].value_counts()
repeat_list = list(counts[counts >= 2].index)
repeat_list

['Comité international de la Croix Rouge (International Committee of the Red Cross)',
 'Linus Carl Pauling',
 'John Bardeen',
 'Frederick Sanger',
 'Marie Curie, née Sklodowska',
 'Office of the United Nations High Commissioner for Refugees (UNHCR)']